h1, h2, h3, h4, h5, p, figcaption, img{
	    text-align: center;
		
	   }
	    p{
		   font-family: "Times New Roman", Times, serif;
		   font-size: 16px;
	    }
	    figcaption{
			font-family: "Georgia", Times, serif;
		    font-size: 18px;
			margin: 10px 0px;
		}
		li {
		   font-family: "Georgia", Times, serif;
           list-style: disc; 
		}
		input{
			
		}
		
        img{
		   max-width: 100%;
           height: auto;
		   display: grid;
           margin-left: auto;
           margin-right: auto;
		}
	    .rounded-circle{
            width: 150px;
            height: 150px;
            padding: 15px;
        }
        .sqaure{
            width: 350px;
            height: 150px;
           
        }
		
	    #option{
	        display: flex;
	        flex-direction: row;
		    justify-content:space-around;
            height: 50px;
             			
		}
		
	    .menu{
			margin: auto auto;
            border-radius: 45px;
            background-color: orange;
            color:white;
			height: 50px;
			width: 120px;
			text-align: center;
        }
		#userGuid {
            background-color: bisque;
            padding: 10px;
            border-radius: 20px;
            margin:5px 0px;
        }
	    #subjects{
		
            margin-left: auto;
            margin-right: auto;
        }
		#Experiences{
			width: 80%;
			margin-left: auto;
            margin-right: auto;
		}
		#footer{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
		 
		#p2{
		   margin-left: 40px;
		   text-align: left;	
		}

		.submit{
            display: inline;
            text-align: left;
			
        } 
		.contact{
			margin-right:400px;
			text-align: right;
		}
		.message{
			margin-right:400px;
			text-align: right;
			height: 100px;
		}
		
        @media screen and (min-width:1000px){
        .container{
			
            width: 850px;
            margin-left: auto;
            margin-right: auto;
        
        }
		#schools{
            display: grid; 
            grid-template-columns: repeat(2, 1fr); 
			grid-gap:15px;
		
	    }
		li {
		   margin-left: 160px;
           list-style: disc; 
		}
		h6 {
			margin-left: 140px;
		}
	}
		
	 @media screen and (min-width:600px){
        .container{
            
            margin-left: auto;
            margin-right: auto;
        
        }
        .menu{
            border-radius: 25px;
            background-color: orange;
            color:white;
			
        }		
		
		
	  }